src/docconf
.project
.cproject
Debug
m4
.settings
src/acp
config
config.bak
install-sh
*~
*.o
*.in
configure
depcomp
*.lo
Makefile
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.log
config.status
config.sub
missing
src/Makefile
stamp-h1
ltmain.sh
